.contClientes{
    margin-top: 15px;
    background-color: #A3E4D7;
    padding: 20px;
    border-radius: 5px;
}

.contClientes p{
    background-color: #0E6655;
    color: #FBFCFC ;
    border-radius: 10px;
}


