.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  background: #B2BABB !important;
  padding-bottom: 50px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 15px;
  color: #CCD1D1;
}

.App-link {
  color: #CCD1D1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cajatipo0{
  order: 5px outset red;
  background-color: lightgreen; 
}

.cajatipo1{
  order: 5px outset red;
  background-color: lightblue; 
}

.cajatipo2{
  order: 5px outset red;
  background-color: blueviolet; 
}

.backMenu{
  background-color: crimson !important;
  text-align: left;
}
